@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .red-button {
        @apply text-white bg-rose-700 ml-3 
        hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium 
        rounded-lg text-base px-6 py-3.5 text-center dark:bg-rose-600 dark:hover:bg-rose-700 
        dark:focus:ring-rose-800 mt-2
    }

    .green-button{
        @apply text-white bg-emerald-700 ml-3 hover:bg-emerald-800 
        focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-base px-6 py-3.5 text-center 
        dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800 mt-2

    }

    .blue-button{
        @apply
        text-white bg-blue-700 ml-3 hover:bg-blue-800 
        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-6 py-3.5 text-center 
        dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-2
    }

    .grey-button {
        @apply text-white bg-slate-700 ml-3 
        hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium 
        rounded-lg text-base px-6 py-3.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 
        dark:focus:ring-slate-800 mt-2
    }
}